<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style-home.css">
    <title>Home</title>
</head>
<body>
    
    <header>
        <h1>Tienda </h1>
    </header>
    <section>
        <div class="item">
            <img src="https://imgs.search.brave.com/tk38ai3IS1PPCYYD9ccQG1d2PvawnKf78FkSSwUStmA/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/Zm90by1ncmF0aXMv/Y2FtaXNhLW5lZ3Jh/LXBhbGFicmEtdWx0/cmEtYW4tZWxsYV8x/MzQwLTM3Nzc1Lmpw/Zz9zaXplPTYyNiZl/eHQ9anBn" alt="" width="300" height="300">
            <div class="info-item">
                <p class="nombre">producto 1</p>
                <p class="precio">$$$$</p>
            </div>
            <input type="submit" value="agregar" class="button-item">
        </div>
        <div class="item">
            <img src="https://imgs.search.brave.com/tk38ai3IS1PPCYYD9ccQG1d2PvawnKf78FkSSwUStmA/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/Zm90by1ncmF0aXMv/Y2FtaXNhLW5lZ3Jh/LXBhbGFicmEtdWx0/cmEtYW4tZWxsYV8x/MzQwLTM3Nzc1Lmpw/Zz9zaXplPTYyNiZl/eHQ9anBn" alt="" width="300" height="300">
            <div class="info-item">
                <p class="nombre">producto 2</p>
                <p class="precio">$$$$</p>
            </div>
            <input type="submit" value="agregar" class="button-item">
        </div>
        <div class="item">
            <img src="https://imgs.search.brave.com/tk38ai3IS1PPCYYD9ccQG1d2PvawnKf78FkSSwUStmA/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/Zm90by1ncmF0aXMv/Y2FtaXNhLW5lZ3Jh/LXBhbGFicmEtdWx0/cmEtYW4tZWxsYV8x/MzQwLTM3Nzc1Lmpw/Zz9zaXplPTYyNiZl/eHQ9anBn" alt="" width="300" height="300">
            <div class="info-item">
                <p class="nombre">producto 3</p>
                <p class="precio">$$$$</p>
            </div>
            <input type="submit" value="agregar" class="button-item">
        </div>
        <div class="item">
            <img src="https://imgs.search.brave.com/tk38ai3IS1PPCYYD9ccQG1d2PvawnKf78FkSSwUStmA/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/Zm90by1ncmF0aXMv/Y2FtaXNhLW5lZ3Jh/LXBhbGFicmEtdWx0/cmEtYW4tZWxsYV8x/MzQwLTM3Nzc1Lmpw/Zz9zaXplPTYyNiZl/eHQ9anBn" alt="" width="300" height="300">
            <div class="info-item">
                <p class="nombre">producto 4</p>
                <p class="precio">$$$$</p>
            </div>
            <input type="submit" value="agregar" class="button-item">
        </div>
        <div class="item">
            <img src="https://imgs.search.brave.com/tk38ai3IS1PPCYYD9ccQG1d2PvawnKf78FkSSwUStmA/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/Zm90by1ncmF0aXMv/Y2FtaXNhLW5lZ3Jh/LXBhbGFicmEtdWx0/cmEtYW4tZWxsYV8x/MzQwLTM3Nzc1Lmpw/Zz9zaXplPTYyNiZl/eHQ9anBn" alt="" width="300" height="300">
            <div class="info-item">
                <p class="nombre">producto 5</p>
                <p class="precio">$$$$</p>
            </div>
            <input type="submit" value="agregar" class="button-item">
        </div>
        <div class="item">
            <img src="https://imgs.search.brave.com/tk38ai3IS1PPCYYD9ccQG1d2PvawnKf78FkSSwUStmA/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/Zm90by1ncmF0aXMv/Y2FtaXNhLW5lZ3Jh/LXBhbGFicmEtdWx0/cmEtYW4tZWxsYV8x/MzQwLTM3Nzc1Lmpw/Zz9zaXplPTYyNiZl/eHQ9anBn" alt="" width="300" height="300">
            <div class="info-item">
                <p class="nombre">producto 6</p>
                <p class="precio">$$$$</p>
            </div>
            <input type="submit" value="agregar" class="button-item">
        </div>
    </section>
</body>
</html>